* {
    padding: 0;
    margin: 0;
}


html {
    font-family: "Helvetica Neue",sans-serif;
}

:root {
    --text-color : #fff;
    --backgrond-header : rgba(0, 0, 0, .2);
    --color-hover :#f7941d;
    --background-hover : #fff;
    --text-color-2 : #000;
}

@keyframes example {
    0% {background-image: url('../img/header.png');}
    25% {background-image: url('../img/header2.png');}
    50% {background-image: url('../img/header3.png');}
    75% {background-image: url('../img/header4.png');}
    100% {background-image: url('../img/header5.png');}
}

#header {
    background-image: url('../img/header.png');
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: example 11s infinite;
    animation-timing-function: step-end;
}

#nav {
    
}

#nav .top1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgrond-header);
    border-bottom: 1px solid rgba(238,238,238,.5);
    height: 68px;
}

#nav .img-language {
    margin-left: 120px;
}

#nav .img1 {
    margin: 0 10px;
}

/* Xong bên phải */

/* Bên trái */

#nav .contact-nav {
    display: flex;
    align-items: center;
}

#nav .nav-2 {
    display: flex;
}

#nav .nav-2 li {
    list-style: none;
}

#nav .nav-2 li a {
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    margin: 0 20px;
}

#nav .iconx {
    margin-right: 2px;
}

#nav .icon-nav-2 {
    font-size: 20px;
    margin: 0 20px;
    color: var(--text-color);
}
/* Xong bên phải  */
/* Hover vào */
#nav .nav-2 li a:hover {
    color: var(--color-hover);
    transition: color 0.3s ease-in;
}

#nav .img1:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
}

#nav .icon-nav-2:hover {
    color: var(--color-hover);
    transition: color 0.3s ease-in;
    cursor: pointer;
}
/* Xong nav bên 1 */
/* Bắt đầu nav 2 bên dưới */



#nav .top2 {
    display: flex;
    justify-content: space-between;
    background-color: var(--backgrond-header);
}

/* Làm bên trái nav2 */

#nav .logo-fpt {
    width: 128px;
    height: 55px;
    margin: 0 0 0 120px;
    
}

/* Làm bên phải nav2 */
#nav .list-item {
    display: flex;
    align-items: center;
}

#nav .icon-homes {
    font-size: 20px;
    color: var(--text-color);
}





#nav .subnav-menu {
    display: flex;
    align-items: center;
}

#nav .subnav-menu li {
    list-style: none;
    position: relative;
}

#nav .subnav-menu > li > a {
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    margin: 0 9px;
    text-transform: uppercase;
}

#nav .icon-nav2 {
    font-size: 15px;
}

/* Hover thẻ cha và thẻ icon*/
#nav .icon-homes:hover,
#nav .subnav-menu > li:hover > a {
    font-weight: bold;
    color: var(--color-hover);
    transition: color 250ms ease-in;
}

/* Hover hiện subnav 2 */
#nav .subnav-menu li:hover .submenu-1,
#nav .subnav-menu li:hover .submenu-2 {
    display: block;
}

#nav .subnav-menu .first-nav::before {
    content: "";
    position: absolute;
    cursor: pointer;
    border-width: 26px 62px;
    top: 18px;
    left: 4px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
}

#nav .submenu-1 {
    position: absolute;
    top: 39px;
    width: 270px;
    display: none;
    background: var(--background-hover);
    box-shadow: 1px 1px 5px #ccc;
}

#nav .submenu-1 li ,
#nav .submenu-2 li {
    border-bottom: 1px solid #ebebeb;
}

#nav .submenu-1 li a,
#nav .submenu-2 li a {
    display: block;
    padding: 7px 12px;
    color: var(--text-color-2);
    text-decoration: none;
    font-size: 20px;
    
}

#nav .submenu-1 li a:hover,
#nav .submenu-2 li a:hover {
    font-weight: bold;
    color: var(--color-hover);
    background-color: #ebebeb;
    transition: color 250ms ease-in;
}

/* Menu đa cấp 2 */

#nav .submenu-2 {
    display: none;
    position: absolute;
    top: 38px;
    width: 260px;
    background: var(--background-hover);
    box-shadow: 1px 1px 4px #ccc;
}

#nav .subnav-menu .first-nav2::before {
    content: "";
    position: absolute;
    cursor: pointer;
    border-width: 24px 110px;
    top: 14px;
    left: 1px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
}


/* Slider */

#slider {
    height: 380px;
    background-image: url('../img/slider.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider .slider-items {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

#slider .icon-slider {
    padding-right: 20px;
    width: 60px;
}

#slider .title-1 {
    font-size: 30px;
}

#slider .title-2 {
    font-size: 16px;
    width: 160px;
}

/* Content */
#content {

}

#content .article {
    display: flex;
    min-height: 500px;
    background-color: #fff;
    float: left;
    width: 70%;
}


#content .title-column {
        font-size: 24px;
        margin-bottom: 15px;
}

#content .img-article {
    width: 300px;
    cursor: pointer;
}

#content .article-1 {
    margin-bottom: 20px;
    
}

#content .title-article h1 {
    margin: 30px 0 10px 0;
}

#content .title1 a {
    font-size: 16px;
    text-decoration: none;
    color: var(--text-color-2);
    
}

#content .title1 a:hover {
    font-weight: bold;
    color: var(--color-hover);
    transition: color 250ms ease-in;
}

#content .time {
    font-size: 18px;
    opacity: 0.4;
    margin-bottom: 20px;
}

#content .column-1 {
    margin-left: 50px;
}

/* Bài báo 2 */

#content .img-article2 {
    width: 130px;
    height: 86px;
    margin-right: 12px;
    cursor: pointer;
}

#content .article-2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 18px;
    border-top: 1px solid #ccc;
}

#content .title2 {
    font-size: 16px;
    margin-bottom: 15px;
}

#content .title2 a {
    text-decoration: none;
    color: var(--text-color-2);
    line-height: 1.6;
}

#content .title2 a:hover {
    font-weight: bold;
    color: var(--color-hover);
    transition: color 250ms ease-in;
}

#content .time2 {
    font-size: 14px;
    opacity: 0.4;
}

#content .column-1 {
    float: left;
}


#content .aside {
    min-height: 500px;
    float: left;
    width: 30%;
}

#content .ads {
    width: 100%;
    height: 680px;
}

#content .ads:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 250ms ease-in;
}

#footer {
    clear: both;
   
}

#footer .img-footer {
    
}

#footer .img-end {
   width: 100%;
}

#footer .logos {
    min-height: 350px;
}

#footer .title-logo {
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 70px 0 15px 0;
}

#footer .title-logo::before {
    content: "";
    position: absolute;
    height: 1px;
    background: #f7941d;
    width: 80px;
    bottom: -8px;
}

#footer .img-logos {
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0 ;
}

#footer .list-logo {
    width: 200px;
    height: 65px;
    margin: 0 10px;
}




/* Contact footer */
#footer .contact-footer {
    background-color: #192041;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 50px 15px 40px;
    border-top: 10px solid var(--color-hover);
}

#footer .img-contact {
    height: auto;
    max-width: 100%;
}

#footer .social {
    margin-top: 10px;
}

#footer .social a {
    margin-right: 15px;
}

#footer .img-contact2 {
    width: 42px;
}


#footer .contact2-column1 {
    padding-top: 35px;
}

#footer .title-ct {
    color: var(--color-hover);
    font-weight: 150;
}

#footer .number-ct {
    padding: 15px 0 30px 0;
    color: var(--text-color);
}

#footer .email-ct {
    color: var(--text-color);
}

#footer .title-c2 {
    color: var(--color-hover);
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 20px;
}

#footer .title-ct2 {
    color: var(--text-color);
    padding-bottom: 10px;
    font-weight: 100;
    font-size: 13px;
    text-decoration: underline;
}

#footer .number-ct2 {
    color: var(--text-color);
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 1.8;
} 

#footer .email-ct2 {
    color: var(--text-color);
    padding-bottom: 20px;
    font-size: 13px;
    
}

#footer .icon-ft1 {
    color: var(--color-hover);
}

#footer .icon-ft2 {
    color: var(--color-hover);
}

#footer .clo-ct2 {
    display: flex;
}

#footer .clo-ct-sub2 {
    margin-top: 42px;
    margin-left: 30px;
}

/* Tầm 3-5k dòng code nhé show code vậy thôi chạy luôn xem thành quả   */